.container {
  position: relative;
  border-bottom: solid 1px;

  .group-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weight-date {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .weight-mor {
    margin-right: 10px;
  }
  .weight-eve {
    margin-right: 50px;
  }
  .weight-delete {
    display: none;
    position: absolute;
    right: 30px;
    transform: translate(50%);
    width: 40px;
    height: 30px;
    margin-top: -5px;
  }
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.item {
  &:hover {
    .weight-delete {
      display: block;
    }
  }
}
